<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kumail.hintpod">

    <uses-permission android:name="android.9permission.INTERNET" />

    <application>
        <activity
            android:name="com.kumail.hintpod.activities.MainActivity"
            android:theme="@style/HintPodTheme"
            android:label="@string/hintpod_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kumail.hintpod.activities.SuggestionDetailedActivity"
            android:theme="@style/HintPodTheme"
            android:label="@string/hintpod_app_name">
            <intent-filter>
                <action android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>


    </application>

</manifest>